@use '../modules/fonts/fonts.scss';

.search-location{

    &__form{
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 17px;

        input{
            border: none;

            &::placeholder{

                @include font-text16500(500);
            }
        }
    }
}