@use '../modules/fonts/fonts';

.search-location{

    &__form{
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 17px;
        
        @include font.font-text(16px, 500);

        input{
            border: none;
        }
    }
}