@use "../sass/components/mixins_and_variables";

.search-location{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
        
    &__input{
        border: none;

        &::placeholder{  
            @include mixins_and_variables.font-text(16px, 500);
        }
    }
}
