@use "../sass/components/mixins_and_variables";

.search-location{
    background: mixins_and_variables.$grey_2;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.15);
    
        
    &__input{
        background-color: mixins_and_variables.$grey_2;
        border: none;

        &::placeholder, &:focus{  
            @include mixins_and_variables.font-text(16px, 500);
            outline: none;
        }
    }
}

.presentation{
    margin: 40px 0 57px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .presentation__slogan{
        text-align: center;
        width: 75%;
        margin-bottom: 10px;
        @include mixins_and_variables.font-text(24px, 700)
    }
    .presentation__text{
        text-align: center;
        margin-bottom: 30px;
        @include mixins_and_variables.font-text(18px, 300);
    }
}
