@use "../sass/components/mixins_and_variables";

.banner{
    height: 275px;
}

.menu-title{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 17px 0 17px;
    position: relative;
    bottom: 32px;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
}