@use "../sass/components/mixins_and_variables";

.banner{
    height: 275px;
}

.menu{
    background-color: white;
    padding-top: 32px;
    position: relative;
    bottom: 55px;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;

    &__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 17px;
    }
}