@use "../sass/components/mixins_and_variables";

.banner{
    height: 275px;
}

.menu{
    background-color: white;
    padding: 32px 13px 0 13px;
    position: relative;
    bottom: 55px;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;

    &__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 4px;
        margin-bottom: 40px;
    }

    h2{
        text-transform: uppercase;
    }
}