@use "./mixins_and_variables";

.menu{
    .menu-card:first-child{
        animation: slide 2s 2s both;
    }
}

@keyframes slide{
    from{
        transform: translateX(-100vw);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}