@use "./mixins_and_variables";

.entrees{
    animation: slide-and-appear 1.5s both;
}

.plats{
    animation: slide-and-appear 1.5s .5s both;
}

.desserts{
    animation: slide-and-appear 1.5s 1s both;
}

@keyframes slide-and-appear{
    0%{
        transform: translateY(100vw);
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}