@use "./mixins_and_variables";

.entrees{
    animation: slide-and-appear 1.5s ease-in-out both;
}

.plats{
    animation: slide-and-appear 1.5s .5s ease-in-out both;
}

.desserts{
    animation: slide-and-appear 1.5s 1s ease-in-out both;
}

@keyframes slide-and-appear{
    0%{
        transform: translateY(100vw);
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.menu-card{

    &:hover{
        .fa-check{
            animation: slide-from-left .75s both;
        }
    }

    .fa-check{
        transform: translateX(150vh);
    }
}

@keyframes slide-from-left {
    0%{
        transform: translateX(50vh);
        opacity: 0;
    }
    40% { opacity: 0;}
    95% { opacity: 1;}
    100%{ transform: translate(0);}
}