@use "./mixins_and_variables";

header{
    .header__index{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 14px;
        @include mixins_and_variables.font-header(30px);
    }
}