.header__index{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
    @include mixins_and_variables.font-header(30px);
}

.search-location{    
    background: mixins_and_variables.$grey_2;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.15);
    
    label{
        padding-left: 20px;
    }

    &__input{
        @include mixins_and_variables.font-text;
        background-color: mixins_and_variables.$grey_2;
        border: none;

        &:focus{
            outline: none;
        }
    }
}