@use "./mixins_and_variables";

.loader {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid mixins_and_variables.$purple;
    animation: spin 1.25s ease-in-out both;
}

.main-container{
    animation: appear 1.25s 1.25s both;
}

@keyframes spin{
    0% { 
        transform: rotate(0deg);
        opacity: 0;
    }
    25% { opacity: 1;}
    75% { opacity: 1;}
    100% { 
        transform: rotate(360deg);
        opacity: 0;
    }
  }

@keyframes appear{
    from{ opacity: 0;}
    to { opacity: 1;}
}