@use "./mixins_and_variables";

.menu-card{
    position: relative;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
    padding: 15px;
    cursor: pointer;

    &:hover > h4{
        width:240px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    h4{
        @include mixins_and_variables.font-card-title;
        margin-bottom: 5px;
    }

    .fa-check{
        position: absolute;
        left: 30vh;
        font-size: 18px;
        color: mixins_and_variables.$purple;
    }

    &__caption{
        display: flex;
        justify-content: space-between;

        p{
            @include mixins_and_variables.font-card-subtitle;
        }

        .price{
            @include mixins_and_variables.font-card-subtitle($font-weight:700);
        }
    }
}