@use "./mixins_and_variables";

.menu-card{
    position: relative;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
    padding: 15px;
    cursor: pointer;

    h4{
        @include mixins_and_variables.font-card-title;
        margin-bottom: 5px;
    }

    &__caption{
        display: flex;
        justify-content: space-between;

        p{
            @include mixins_and_variables.font-card-subtitle;

            &::hover{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .price{
            @include mixins_and_variables.font-card-subtitle($font-weight:700);
        }
    }
}