$grey_2: #EAEAEA;


@mixin font-header($font-size: 28px, $font-weight: 400){
    font: {
        family: 'Shrikhand', serif;
        size: $font-size;
        weight: $font-weight;
    }
}

@mixin font-text($font-size: 16px, $font-weight:500){
    font: {
        family: 'Roboto', sans-serif;
        size: $font-size;
        weight: $font-weight;
    }
}

@mixin font-button{
    color: white;
    font: {
        family: 'Roboto', sans-serif;
        size: 16px;
        weight: 500;
    }
}