@use "./mixins_and_variables";

.restaurant-card{
    position: relative;

    img{
        height: 230px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .new-tag{
        position: absolute;
        top: 0;
        right: 0;
        margin: 13px 17px 0 0;;
    }

    &__caption{
        background-color: white;
        display: flex;
        justify-content: space-between;
        padding: 16px 16px 12px 16px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

        @include mixins_and_variables.wider-screen{
            padding-left: 19px;
        }

        h3{
            @include mixins_and_variables.font-card-title($font-weight:700);
            margin-bottom: 5px;
        }

        p{
            @include mixins_and_variables.font-card-subtitle(17px);
        }
    }

}