header {
  position: relative;
}
header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
}
header a {
  display: block;
  position: absolute;
  top: 17px;
  left: 17px;
  font-size: 30px;
  color: #353535;
}

footer {
  padding: 22px 25px 15px 25px;
  background-color: #353535;
}
@media (min-width: 768px) {
  footer {
    padding: 57px 66px 30px 25px;
  }
}
footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  footer ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
footer .en_tete {
  font-family: "Shrikhand", serif;
  font-size: 18px;
  font-weight: 400;
  color: white;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  footer .en_tete {
    order: 1;
    margin: 0 0 0 90px;
  }
}
footer li {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 7px;
}
@media (min-width: 768px) {
  footer li {
    margin-bottom: 0;
  }
  footer li:nth-child(3) {
    margin-left: 11px;
  }
  footer li:nth-child(4) {
    margin-left: 17px;
  }
  footer li :last-child {
    margin-left: 17px;
  }
}
footer .fa-utensils, footer .fa-handshake-angle {
  width: 12px;
  height: 13px;
  margin-right: 11px;
}

button {
  padding: 16px 48px;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: white;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border: none;
}
button:hover {
  background: linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

.instructions-card {
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  padding: 29px 0;
  display: flex;
  align-items: center;
  gap: 23px;
}
.instructions-card__number {
  display: inline-block;
  position: relative;
  right: 12px;
  justify-content: center;
  align-items: center;
  padding: 3.5px 8px;
  border-radius: 100%;
  background-color: #9356DC;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: white;
  font-style: normal;
}
.instructions-card .icon {
  color: #7E7E7E;
}
.instructions-card .icon--purple {
  color: #9356DC;
}
.instructions-card p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.restaurant-card img {
  height: 230px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurant-card__caption {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 16px 16px 12px 16px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
@media (min-width: 768px) {
  .restaurant-card__caption {
    padding-left: 19px;
  }
}
.restaurant-card__caption h3 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}
.restaurant-card__caption p {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 300;
}

.menu-card {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  padding: 15px;
}
.menu-card h4 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}
.menu-card__caption {
  display: flex;
  justify-content: space-between;
}
.menu-card__caption p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
.menu-card__caption .price {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.search-location {
  background: #EAEAEA;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.15);
}
.search-location label {
  padding-left: 20px;
}
.search-location__input {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #353535;
  background-color: #EAEAEA;
  border: none;
}
.search-location__input:focus {
  outline: none;
}

.index-title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.presentation {
  padding: 40px 0 57px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
}
@media (min-width: 768px) {
  .presentation {
    padding: 30px 0;
  }
}
.presentation strong {
  text-align: center;
  width: 75%;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.presentation p {
  text-align: center;
  margin-bottom: 27px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #353535;
}
.presentation button {
  padding: 15px 22px;
}

.instructions {
  padding: 48px 20px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .instructions {
    max-width: 1080px;
    margin: auto;
  }
}
.instructions > div {
  padding: 26px 0 48px 13px;
  display: grid;
  gap: 25px;
}
@media (min-width: 768px) {
  .instructions > div {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 37px;
  }
}

.restaurants {
  padding: 54px 17px;
  background-color: #F6F6F6;
}
@media (min-width: 768px) {
  .restaurants {
    padding: 30px 17px;
  }
}
@media (min-width: 768px) {
  .restaurants__container {
    max-width: 1080px;
    margin: auto;
  }
}
.restaurants__container h2 {
  padding-left: 3px;
  padding-bottom: 28px;
}
.restaurants__container > div {
  display: grid;
  gap: 18px;
}
@media (min-width: 768px) {
  .restaurants__container > div {
    grid-template-columns: 1fr 1fr;
    gap: 50px 10.8%;
  }
}

.banner {
  height: 275px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #F6F6F6;
  padding: 32px 13px 0 13px;
  position: relative;
  bottom: 55px;
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
}
.menu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px;
}
.menu section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu h3 {
  text-transform: uppercase;
}

.commander {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 15px;
  margin-bottom: 25px;
}

body, h1, h2, h3, p {
  margin: 0;
}

h1 {
  font-family: "Shrikhand", serif;
  font-size: 30px;
  font-weight: 400;
}

h2 {
  font-family: "Shrikhand", serif;
  font-size: 28px;
  font-weight: 400;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
}
h3 .underline {
  display: inline-block;
  padding-bottom: 8px;
  border-bottom: 3px solid #99E2D0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}/*# sourceMappingURL=stylesheet.css.map */