@use "../sass/components/mixins_and_variables";
@use "../sass/components/header";
@use "../sass/components/footer";
@use "../sass/components/button";
@use "../sass/components/instructions-card";
@use "../sass/components/restaurant-card";
@use "../sass/components/menu-card";
@use "../sass/components/search-location";
@use "../sass/index";
@use "../sass/menu-restaurants";

body, h1, h2, h3, p {
    margin: 0;
}

h1{
    @include mixins_and_variables.font-title;
}

h2{
    @include mixins_and_variables.font-text($font-weight:300);

    .underline{
        display: inline-block;
        padding-bottom: 8px;
        border-bottom: 3px solid #99E2D0;
    }
}

a{
    color: inherit;
    text-decoration: none;
}

img{
    object-fit: cover;
    width: 100%;
}