@use "../sass/components/mixins_and_variables";
@use "../sass/components/header";
@use "../sass/index";

body {
    margin: 0;
}

h1{
    margin: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

p{
    margin: 0;
}