@use '../../modules/fonts/fonts';

.search-location{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
        
    .search-location__input{
        border: none;

        &::placeholder{  
            @include fonts.font-text(16px, 500);
        }
    }
}

.presentation{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .presentation__title{
        text-align: center;
        width: 80%;
        @include fonts.font-text(24px, 700)
    }
    .presentation__text{
        text-align: center;
        @include fonts.font-text(18px, 300);
        margin-bottom: 27px;
    }
    .presentation__button{
        width: 218px;
    }
}