@use '../../modules/fonts/fonts';

.search-location{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
        
    .search-location__input{
        border: none;

        &::placeholder{  
            @include fonts.font-text(16px, 500);
        }
    }
}