@use '../modules/the_button/button';
@use '../modules/header/header';
@use '../modules/fonts_colors/fonts_colors';

body {
    margin: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

p{
    margin: 0;
}