@use '../fonts_colors/fonts_colors';

footer{
    padding: 22px 25px;
    background-color: #353535;

    .en_tete{
        @include fonts_colors.font-title-footer;
        margin-bottom: 10px;
    }

    ul{
        padding: 0;
        list-style-type: none;

        li{
            @include fonts_colors.font-text(16px, 500);
            color: white;
            margin-top: 7px;
        }
    }
}
.fa-utensils, .fa-handshake-angle{
    width: 11.918px;
    height: 13px;
}

.fa-utensils{
    margin-right: 11px;
}
.fa-handshake-angle{
    margin-right: 11px;
}