$primary_color: #9356DC;

@mixin font-text($font-size, $font-weight){
    font: {
        family: 'Roboto', sans-serif;
        size: $font-size;
        weight: $font-weight;
    }
}

@mixin font-title-footer{
    color: white;
    font: {
        family: 'Shrikhand', serif;
        size: 18px;
        weight: 400;
    }
}